.titleFlexContainer {
    display: flex;
    justify-content: center;
    margin: 2%;
    background: linear-gradient(90deg, rgb(99, 99, 240) 0%, rgb(41, 5, 88) 100%);
}

.titleTextStyle {
    display: flex;
    color: white;
    font-size: 40px;
}

.searchFlexContainer {
    display: flex;
    position: relative;
    width: 25%;
    margin-left: 40px;
    margin-top: 30px;
    justify-content: space-between;
}

.searchTitleStyle {
    display: flex;
    margin-left: 40px;
    font-size: 50px;
    width: 30%;
}

.recentSearchTitle {
    display: flex;
    margin-left: 40px;
    margin-top: 40px;
    width: 30%;
}

.selectedFlexContainer {
    display: inline;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 50%;
    height: 30%;
    left: 40%;
    top: 16%;
}

.futureForecastTitle {
    display: flex;
    position: absolute;
    left: 40%;
    top: 450px;
}


#currentWeatherHeader {
    display: flex;
    align-items: center;
}

#date {
    margin-bottom: 0px;
    margin-left: 15px;
    font-size: 25px;
    font-weight: bold;
}


/* .futureForecastContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 50%;
    height: 30%;
    left: 40%;
    top: 57%;
}

.dayOneForecast {
    background-color: rgb(73, 45, 45);
    color: white;
    width: 20%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.dayTwoForecast {
    background-color: rgb(73, 45, 45);
    color: white;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.dayThreeForecast {
    background-color: rgb(73, 45, 45);
    color: white;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.dayFourForecast {
    background-color: rgb(73, 45, 45);
    color: white;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.dayFiveForecast {
    background-color: rgb(73, 45, 45);
    color: white;
    width: 20%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
} */